<!DOCTYPE html>
html(lang="en", prefix="ng: http://angularjs.org")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="chrome=1, IE=edge")
        meta(name="viewport", content="width=device-width, user-scalable=1.0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
        title App Demo
        link(rel="stylesheet", href="css/main.css")
    body#ng-app(ng-app="demo")
        h1 Demo app
        div#wrapper(ng-view)
        script(src="js/main.min.js")
